body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import "./partials/globalStyles";
@import "./partials/typography";
@import "./partials/keyframes";

@import "./partials/layout";

@import "./partials/buttons";

@import "./partials/header";
@import "./partials/moonImg";
@import "./partials/birthdayForm";
@import "./partials/result";
@import "./partials/siblingQuotes";