section.about {
    h2 {
        text-align: left;
    }
}

.aboutLink {
    font-weight: normal;
}

.about {
    p:last-of-type {
        margin-bottom: 50px;
    }
}

.bkHome {
    margin: 20px auto;
    padding: 10px 15px;
    border: 1px solid white;
    &:hover,
    &:focus {
        border: 1px solid rgb(97, 162, 223);
    }
}