section.result {
    position: fixed;
    height: 100vh;
    transition: 1.5s ease-out;

    .center {
        position: fixed;
        min-height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        figure {
            width: 50%;
            margin: 0 auto;
        }
    
        p {
            text-align: center;
            margin: 10px 0;
        }

    }
    
    .echoMoon {
        figure {
            margin-top: 65vh;
        }
    }
}

