
@mixin transition($speed) {
    transition: $speed ease-in-out; 
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}

.headerFlex {
    height: 10vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    // .logo {
    //     width: 40px;
    // }

    .toggleNav {
        height: 100%;
        display: flex;
        align-items: center;
        overflow-x: hidden;
        
        .starIcon {
            width: 8%;
        }

        nav {
            width: 100%;
        }
    }
}

nav {
    ul {
        display: flex;
        width: 79%;
        li {
            flex-grow: 5;

            a {
                color: white;
                mix-blend-mode: difference;
            }
        }

    }
}

.toggleNav {
    width: 0;
    transform: translateX(-40px);
    @include transition(1.2s);
    &.clicked {
        width: 88%;
        transform: translateX(5%);
    }
}

.fa-star {
    opacity: 0;
    font-size: 0.8rem;
    @include transition(1.5s);
    &.clicked {
        opacity: 1;
        transform: rotate(-186deg);
        animation: starFadeIn 1.2s ease-in-out;
    }
}

.navUl {
    opacity: 0;
    @include transition(1s);
    &.clicked {
        opacity: 1;
        animation: menuFadeIn 1s ease-in-out;
    }
}

div.menuBg{
    width: 100vh;
    height: 100vh;
    background-color: black;
    position: fixed;
    top: 0;
    clip-path: circle(0% at 5% 5%);
    transition: 1.2s ease-in-out;
} 