section.formSection {
    text-align: center;
    p {
        margin: 0 auto;
    }
}

form.birthdayForm {
    input {
        margin: 10px auto;
    }
    button {
        display: block;
        margin: 0 auto;
    }
}