.visible {
    visibility: visible;
    animation: fadeIn 0.7s ease-out;
}

.hidden {
    visibility: hidden;
} 

.display {
    display: block;
}

.displayNone {
    display: none;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}