@use './variables' as *;

@mixin fontSize($sizeValue) {
    font-size: ($sizeValue/20) * 1rem;
  }

body {
    color: white;
    font-family: $titleFont;
}

h2 {
    @include fontSize(22);
}

select {
    color: white;
    font-family: $numberFont;
    option {
         font-family: $numberFont;
    }
}
